<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <title>{{ title }}</title>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <nav class="header__nav cnav">
        <ul class="cnav__list">
          <li class="cnav__item dropdown"><a href="#">file</a>
            <span>&rsaquo;</span>
            <ul class="cnav__sub1">
              <li class="cnav__item"><a href="#">new file</a></li>
              <li class="cnav__item"><a href="#">open file</a></li>
              <li class="cnav__item"><a href="#">open folder</a></li>
              <li class="cnav__item"><a href="#">save</a></li>
            </ul>
          </li>
          <li class="cnav__item"><a href="#">edit</a></li>
          <li class="cnav__item"><a href="#">selection</a></li>
          <li class="cnav__item dropdown"><a href="#">tools</a>
            <span>&rsaquo;</span>
            <ul class="cnav__sub1">
              <li class="cnav__item"><a href="#">new file</a></li>
              <li class="cnav__item"><a href="#">open file</a></li>
              <li class="cnav__item"><a href="#">open folder</a></li>
              <li class="cnav__item"><a href="#">save</a></li>
            </ul>
          </li>
          <li class="cnav__item"><a href="#">view</a></li>
          <li class="cnav__item"><a href="#">project</a></li>
          <li class="cnav__item"><a href="#">about</a></li>
        </ul>
      </nav>

    </header>
    
    <main class="main">
      {% block main_content %}
      VOID CONTENT
      {% endblock %}
    </main>

    <footer class="footer">

    </footer>
  </div>

</body>
</html>