{% extends 'base.html'%}

{% block main_content %}
<div class="container-md">
  <h1>Actual Data</h1>
  <hr>
  
  <form action="/" method="post">
    <div class="row">
      <div class="col">
        <label class="form-label">Arguments:</label>
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type not in ('submit', 'hidden') %}
          {{ field(class_="form-control") }}
        {% endfor %}
        {{ form.submit(class_="btn btn-primary") }}
      </div>
    </div>
  </form>
</div>
{% endblock %}