{% extends 'base.html'%}

{% block main_content %}
<div class="container-md">
  <h1>Actual Data</h1>
  <hr>
  
  <form action="calc" method="post">
    <div class="row">
      <div class="col">
        <label class="form-label">Arguments:</label>
        <input name="X" type="number" class="form-control" placeholder="X" required>
        <select name="oper" class="form-control" id="">
          <option value="+" selected>+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
          <option value="**">**</option>
        </select>
        <input name="Y" type="number" class="form-control" placeholder="Y" required>

        <input type="submit" class="btn btn-success" value="OK">
      </div>
    </div>
  </form>
</div>
{% endblock %}